<!DOCTYPE html>
<html lang="en">
{% include 'includes/head.html' %}
<link rel="stylesheet" href="/static/css/detail.css">
<!-- jquery -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<!-- Bootstrap CSS-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<title>상세 페이지</title>
</head>

<body>
    <div class="wrap">
        {% include 'includes/header.html' %}
        <div class="detailContent">
            <div id="detailTop">
                <h2 id="detailTitle">{{article.title}}</h2>
                <span id="likeWrap">
                    <span id="likeCnt">{{article.likeCnt}}</span>
                    <span id="likeBtn" onclick="likeBtn('{{article._id}}')">
                        🤍
                    </span>
                </span>
            </div>
            <div class="detailMenu">
                <span class="firstTd">인원</span>
                <span id="peopleCnt">{{article.count}}</span> / <span>{{article.people}}</span>
            </div>
            <div class="detailMenu">
                <span class="firstTd">일정</span>
                <span>{{article.sdate}}</span> ~ <span>{{article.edate}}</span>
            </div>
            <div class="detailMenu">
                <span class="firstTd">소개</span>
                <span>{{article.intro}}</span>
            </div>
            <div class="detailMenu">
                <span class="firstTd">장소</span>
                <span>{{article.fplace}}</span>
            </div>
            <div id="joinBtn">
                <input id="join" class="btn btn-primary" type="button" onclick="join('{{article._id}}')" value="참여하기">
                {% if article.people|int > article.count|int %}
                <input id="joinCk" class="btn btn-success" disabled type="button" value="모집중">
                {% else %}
                <input id="joinCk" class="btn btn-secondary" disabled type="button" value="인원마감">
                {% endif %}
            </div>
        </div>
        <br>
        {% include 'includes/plugin.html'%}
        <script src="/static/js/detail.js"></script>
        {% if request.cookies.get('myToken') is not none %}
        <script>
            function joinCk() {
                var token = $.cookie('myToken')
                var _id = '{{article._id}}'
                $.ajax({
                    type: 'POST',
                    url: '/api/detail',
                    data: {
                        'postId_give': _id,
                        'token': token
                    },
                    success: function (data) {
                        if (data.join) {
                            $('#join').val('참여하기 취소')
                        } else {
                            $('#join').val('참여하기')
                        }
                    }
                });
            }

            function likeCk() {
                var token = $.cookie('myToken')
                var _id = '{{article._id}}'
                $.ajax({
                    type: 'POST',
                    url: '/api/detail',
                    data: {
                        'postId_give': _id,
                        'token': token
                    },
                    success: function (data) {
                        if (data.like) {
                            $('#likeBtn').text('❤️')
                        } else {
                            $('#likeBtn').text('🤍')
                        }
                    }
                });
            }
            likeCk()
            joinCk()
        </script>
        {% endif %}
    </div>

</body>

</html>