<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <div>
        <form action="/api/login" method="post">
            <span>아이디</span>
            <input type="text" name="id"/>
            <span>비밀번호</span>
            <input type="password" name="password"/>
            <input type="submit" value="로그인">
            <input type="button" value="회원가입">
        </form>
    </div>
</body>
</html>