<!DOCTYPE html>
<html lang="en">
    {% include 'includes/head.html' %}
    <link rel="stylesheet" href="/static/css/member.css">
    <title>로그인</title>
</head>
<body>
    {% include 'includes/header.html' %}
    <div class="wrap">
        <!-- section -->
        <section>
            <form action="/api/login" method="post" class="loginForm">
                <h2>로그인</h2>
                <div class="idForm">
                    <input type="text" id="id" class="id" placeholder="아이디를 입력해주세요" name="id">
                </div>
                <div class="passForm">
                    <input type="password" id="password" class="pw" placeholder="비밀번호를 입력해주세요" name="password">
                </div>
                <input type="button" class="btn" id="loginBtn" value="로그인">
                <a href="/register"><button type="button" class="btn1">회원가입</button></a>
            </form>
        </section>
        <!-- section 끝 -->
    </div>
    {% include 'includes/plugin.html' %}
    <script src="/static/js/login.js"></script>
</body>
</html>