#post-box {
    width: 450px;
}

#_id {
    width: 450px;
}

.wrap {
    width: 1200px;
    margin: 150px auto;
}

.comment {
    color: blue;
    font-weight: bold;
}

.h1-style {
    color: white;
    background-color: grey;
    border-color: grey;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.1rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.createmoim {
    position: fixed;
    padding: 7px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    color: rgb(11, 36, 150)
}
.createmoim:hover {
    color: rgb(79, 71, 199);
}